@inject Microsoft.Extensions.Options.IOptionsMonitor<SiteSettings> siteSettings

@Html.Partial("_hook_footerMiddle")
<p class="m-0 text-center">
    <span>&copy; @siteSettings.CurrentValue.Owner @DateTime.Now.Year - Ahmet Selçuk Özyurt</span>
</p>