@Html.Partial("_hook_navBarTop")
@*<a class="nav-link alternate-background-link" href="/about">About</a>
    <a class="nav-link alternate-background-link" href="/contact">Contact</a>*@
<section id="home" class="home">
    <!--Block content-->
    <div class="block-content ">
        <div class="block-teaser block-background-image large overlay" data-background="img/main/siteHeader.jpg">
            <!--Container-->
            <div class="container ">
                <!--Socials on teaser-->
                <div class="row">
                    <div class="col-sm-12 ">
                        <h1 class="white ">Ahmet Selçuk Özyurt</h1>
                        <h3 class="mt-20 white" id="siteSubHeader">Bilgisayarlı Mühendis , Çocuklu Baba ve Bir Şey Daha... </h3>
                    </div>
                    <div class="col-sm-12 t-right">
                        <ul class="mt-20 socials white">
                            <li>
                                <a href="tel:+905446445235">
                                    <i class="icon-phone white"></i>
                                </a>
                            </li>
                            <li>
                                <a href='m&#97;il&#116;o&#58;%61&#115;ozy&#117;&#37;72t&#64;&#103;&#109;&#97;i%6C.&#99;om'>
                                    <i class="icon-mail white"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/asozyurt" target="_blank">
                                    <i class="icon-github-5 white"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/asozyurt" target="_blank">
                                    <i class="icon-linkedin white"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/asozyurt" target="_blank">
                                    <i class="icon-instagram white"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/asozyurt" target="_blank">
                                    <i class="icon-twitter white"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/asozyurt" target="_blank">
                                    <i class="icon-facebook white"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--End row-->
            </div>
            <!--End container-->

        </div>
    </div>
    <!--End block content-->

</section>
<div class="nav-container base">
    <nav class="main-nav default">

        <!--Container-->
        <div class="container ">
            <!--Row-->
            <div class="row">
                <div class="mobile-menu-holder">
                    <h2 class="title mobile-title">Ahmet Selçuk Özyurt</h2>
                    <a class="mobile-btn" href="#"><i class="icon-menu"></i></a>
                </div>

            </div>
            <!--End row-->
        </div>
        <!--End container-->
        <!--Container-->
        <div class="container ">
            <!--Row-->
            <div class="row">

                <div class="col-sm-5 t-center">

                    <ul class="menu first">
                        <li><a class="scroll" href="#home"><span id="menuHome">Anasayfa</span><i class="icon-home"></i></a></li>
                        <li><a class="scroll" href="#about"><span id="menuAbout">Hakkımda</span><i class="icon-user"></i></a></li>
                        <li><a class="scroll" href="docs/AhmetSelcukOzyurtResume.pdf" target="_blank"><span class="documentColor" id="menuResume">Özgeçmiş</span><i class="icon-doc-text-inv"></i></a></li>
                    </ul>
                </div>

                <div class="col-sm-2 pd-0 t-center">
                    <div class="img-profile">
                        <img src="img/main/mainProfilePhoto.jpg" alt="">
                    </div>

                    <div class="name-profile">
                        <h5><a href="#home">A.Selçuk Özyurt<span id="shortBio">Bilg. Müh. / Yazılım Tasarım</span></a></h5>
                    </div>
                </div>

                <div class="col-sm-5 t-center">
                    <ul class="menu second">
                        <li><a class="scroll" href="#portfolio"><span id="menuPortfolio">Çalışmalar</span><i class="icon-droplet"></i></a></li>
                        <li><a class="scroll" href="#blog"><span id="menuBlog">Blog</span><i class="icon-chat"></i></a></li>
                        <li><a class="scroll" href="#contact"><span id="menuContact">İLETİŞİM</span><i class="icon-paper-plane"></i></a></li>
                    </ul>
                </div>

            </div>
            <!--End row-->
        </div>
        <!--End container-->

    </nav>
</div>
@Html.Partial("_hook_navBarBottom")