@Html.Partial("_hook_navBarTop")

<div class="nav-container base">
    <nav class="main-nav switched-header">

        <!--Container-->
        <div class="container ">
            <!--Row-->
            <div class="row">
                <div class="mobile-menu-holder pl-0">
                    <h2 class="title mobile-title mt-5">Ahmet Selçuk Özyurt</h2>
                    <a class="mobile-btn sticky-top pl-70" href="#"><i class="icon-menu"></i></a>
                </div>

            </div>
            <!--End row-->
        </div>
        <!--End container-->
        <!--Container-->
        <div class="container ">
            <!--Row-->
            <div class="row">

                <div class="col-sm-5 t-center">

                    <ul class="menu first">
                        <li><a class="scroll" href="http://asozyurt.com/index.html#home"><span id="menuHome">Asozyurt.Com</span><i class="icon-home"></i></a></li>
                        <li class="menu-first-last-item"><a class="scroll" href="http://asozyurt.com/index.html#portfolio"><span id="menuPortfolio">Çalışmalar</span><i class="icon-droplet"></i></a></li>
                    </ul>
                </div>

                <div class="col-sm-2 pd-0 t-center">
                    <div class="name-profile">
                        <h5 class="mb-0 mt-0 font-weight-normal pb-0"><a href="http://blog.asozyurt.com/">Asozyurt Blog<span id="shortBio">Blog Anasayfa</span></a></h5>
                    </div>
                </div>

                <div class="col-sm-5 t-center">
                    <ul class="menu second">
                        <li><a class="scroll" href="http://asozyurt.com/index.html#about"><span id="menuAbout">Hakkımda</span><i class="icon-user"></i></a></li>
                        <li><a class="scroll" href="http://asozyurt.com/index.html#contact"><span id="menuContact">İLETİŞİM</span><i class="icon-paper-plane"></i></a></li>
                    </ul>
                </div>

            </div>
            <!--End row-->
        </div>
        <!--End container-->

    </nav>
</div>
@Html.Partial("_hook_navBarBottom")