@model BlogPostsSettings
@inject Microsoft.Extensions.Options.IOptionsMonitor<BlogPostsSettings> blogPostConfigMonitor
@{if (blogPostConfigMonitor.CurrentValue.NumberOfRecentBlogPostsToShowInSidebar > 0)
    {
        <div class="blog-widget">
            <h6 class="mb-20">Son Yazılar</h6>
            <ul class="latest-post dark">
                @for (int i = 0, count = Math.Min(blogPostConfigMonitor.CurrentValue.NumberOfRecentBlogPostsToShowInSidebar, Model.Blogs.Count); i < count; i++)
                {
                    var blogPost = Model.Blogs[i];
                    var postURL = "//" + Context.Request.Host + Url.Action("ViewBlogPost", "Blog", new { year = blogPost.CreateDate.Year, Month = blogPost.CreateDate.Month.ToString("00"), Slug = blogPost.Slug });
                    <li>
                        <a href="@postURL">
                            @blogPost.Title
                            <i class="icon-right-open-mini"></i>
                        </a>
                        <span>@blogPost.CreateDate.Display</span>
                    </li>
                }

            </ul>
            <div class="blog-post-list-item link-right"><a href="~/blog/all">Tüm Yazılar...</a></div>
        </div>

    }}