@model BlogPost

<p class="text-center"><img class="img-fluid" title="Huge Bug" src="~/img/hugeBug.jpeg" /></p>

<br />
<p class="text-justify">Bugün öğrendim ki, bilgisayarlarda bulunan ilk bug ( ing: böcek ) gerçek bir böcekmiş.</p>
<p class="text-justify">9 Eylül 1947 (1945 olarak geçen yerler de var ) tarihli notlarında Amerikalı Donanma Memuru Grace Hopper ( gemide tayfa gibi bir algısı olsa da aslen bir programlama dili için ilk compiler ı yazan kişi) üzerinde çalıştığı Harvard Mark II isimli bilgisayarda bulunan bir ‘güve’ yi, ilk gerçek böcek vak’ası olarak kaydetmiş.</p>

<p class="text-center"><img class="img-fluid" title="Grace Hopper" src="~/img/gracehopper.jpg" /></p>
<p class="text-center"><img class="img-fluid" title="Bug Report" src="~/img/firstBug.jpg" /></p>
<br />

<p class="text-justify">O tarihlerde odaları kaplayan bilgisayarlar çalıştıkça ısınıp ortamı böcekler için bir cennet haline getirdikleri için böceklerin buralarda dolaşması çok normal. Bazı gariban böcekler devrelere dokunup sistemin kısa devre yapmasına ve programların hatalı işlemelerine sebep olmuşlar.</p>
<br />

<p class="text-justify">Her ne kadar o tarihe kadar bilgisayarlardaki bug terimi daha önceden kullanılmış olsa da Grace Hopper ın günlüğüne yazıldıktan sonra iyice popüler hale gelmiş. Daha sonraları böceği bulanın kendisi olmadığı belirtilse de mühim olan böceği bulmak değil, terimi oturtmak olduğu için o kısım üstünde detaylı irdelemeye gerek görmüyorum.</p>
<br />

<p>Bu da bir kenarda dursun.</p>
<br />

<p><b>Kaynak:</b></p>

<a href="https://www.w3schools.com/js/js_debugging.asp">https://www.w3schools.com/js/js_debugging.asp (Did you know section)</a>
<a href="https://thenextweb.com/shareables/2013/09/18/the-very-first-computer-bug/#.tnw_c06e0Dpq">https://thenextweb.com/shareables/2013/09/18/the-very-first-computer-bug/#.tnw_c06e0Dpq</a>
