@model BlogPost

    <p class="text-center"><img class="img-fluid" title="Bir Projeye Bağlanmak" src="~/img/loveProject.jpg" /></p>

    <p class="text-justify">
        Bir projede görev almak, daha da güzeli bir projenin başından itibaren çalışabilmek, hatta en güzeli bir proje bitirmiş olmak. İnsanı daha iyisini, daha büyüğünü yapmaya motive etmek için o kadar yeterli bir sebep ki.
    </p>
    <br />
    <p class="text-justify">
        Küçük büyük bir çok projede yer aldım. Ama en büyüğü ilk tam zamanlı işimde başladığımız idi, çok güzel başladı çok güzel devam etti.
    </p>
    <br />
    <p class="text-justify">
        Aradan geçen 2,5 senenin ardından binlerce kişi tarafından kullanıldığını görmek çok keyif ve gurur verici. Herkese nasip olacak bir şey değil yeni mezun bir mühendisin böylesine büyük bir başlangıç projesinde yer alması. Zaten bu çapta projeler genel piyasa işlerinde kariyer süresince en fazla 2, 3 kez olabilecek şeyler. Belki de hiç olmayacak.
    </p>
    <br />
    <p class="text-justify">
        Bu yazıyı yazmaya başlayalı aylar, belki yıllar olmuş. Tam olarak ne zaman başladığımı bile hatırlamıyorum. Aradan geçen sürede hem bu konuda hem diğer alanlarda değişen çok şey oldu. Artık yeni mezun sayılmıyorum mesela. Ama hissiyatım hala aynı.
    </p>
    <br />
    <p class="text-justify">
        Çoğu çalışma ortamı bu motivasyonu yaşatmaya çok uzak olsa da, bunu bahane etmeyi bırakıp çözüm yolları aramak gerek. Aradan geçen sürede bendeki en büyük değişiklik bu oldu.
    </p>
    <br />
    <p class="text-justify">
        Şirket büyüklüğü arttıkça, hele ki şirket bir banka vs gibi bir finans kuruluşu ise, yani işin ucu paraya dokunuyorsa sistemi güncel tutmak kolay değil. <span class="italic">Çalışıyorsa dokunmamak</span> esastır.
    </p>
    <br />
    <p class="text-justify">
        Çare şu; bireysel çalışmalar yapacaksınız. Veya bir kaç arkadaş biraraya gelip kendi fikirlerinizi en güncel teknoloji ile hayata geçireceksiniz. Bu çalışmalar sayesinde kurumsal şirketinizde siz farketmeden halledilen birçok sorunla mücadele edip çözüm yollarını öğreneceksiniz. Kendi fikrinizi hayata geçirmenin hazzını saymıyorum bile.
    </p>
    <br />
    <p class="text-justify">
        Bu girişimlerde insanları bloklayan bir diğer sebep de şu; kafanızdaki çalışmanın aynısının veya çok benzerinin bir başkası tarafından halihazırda yapılmış olması. Bendeki ikinci büyük değişim de bu noktada oldu. Çok vazgeçiyordum fikirlerim yapılmış diye, yanlış yapmışım. Birebir aynısı yapılsa dahi fikrinizi yapın. En kötü ihtimalle diğer yapılmış olanın kaynak kodlarını çıkarmış olursunuz. Tersine mühendislik de yetenek ister 😉 Araba sektörü bu kafada gitseydi tek marka arabaya mahkum kalırdık.
    </p>
    <br />
    <p class="text-justify">
        Sözün özü; araba yapmak istiyorsanız kendi arabanızı yapın.
    </p>

