@model BlogPost

<p class="text-center"><img class="img-fluid" title="Mosx" src="~/img/harweastGuy.png" /></p>

<p class="text-justify">
    Mesut ve İbrahim ile birlikte yaptığımız çalışmalarımız için bir grup oluşturduk, avatarımızı ve adımızı seçtik. Daha doğrusu onlar bizi seçti, çünkü mail adreslerinin tümü parsel parsel alındığı için onlarca değişik seçenekten geçip harweast ta karar kıldık.
</p>
<br />
<p class="text-justify">
    Simgemiz resimdeki eleman oldu. Bir çok sosyal medya ve geek paylaşım ortamlarında varız.
</p>
<br />
<p class="text-justify">
    Web sitemiz www.harweast.com
</p>
<br />
<p class="text-justify">
    İlerleyen zamanlarda harweast imzasını (umarım) farklı bir çok projede göreceğiz.
</p>

