@model BlogPost

<p class="text-center"><img class="img-fluid" title="Ölü'n Bizi Ayırana Dek" src="~/img/olunBiziAyiranaDek.jpg" /></p>

<p class="text-justify">
    Oyuna 26 Temmuz Perşembe günü Kültürpark açık hava tiyatrosunda gittim. Oyundan, oyunculardan ve senaryodan da bahsetmek istiyorum ancak bir kaç yan hususu da irdelemeden geçemeyeceğim.
</p>
<br />
<p class="text-justify">
    Birincisi ulaşım; Kültürpark (Fuar) ulaşımı en kolay yerlerden bir tanesi İzmir'de. Neredeyse tüm ulaşım araçlarıyla gelebilirsiniz, bu açıdan hiçbir sıkıntısı yok.
    <br />
    Ancak tabela konusundaki yaygın eksiklik ve vatandaşımızın bilmediğine bilmiyorum dememe sorunu maalesef İzmir'de de çok yaygın.
</p>
<br />
<p class="text-justify">
    Ben Dokuz Eylül Tınaztepe Kampüsünden mekana gitmek için 19:45 gibi çıktım, 20 dk bekledikten sonra gelen ve hareket saati 19:53 olan otobüse 20:10 gibi bindim ve Şirinyer İzban'a geçtim. Hilal istasyonundan yürüme 600 mt gösterdiği için bu durakta inip koşarak gitmeye karar verdim, hala zamanım vardı.
    <br />
    Ancak, sağolsun güvenlik görevlisine Fuar'a nasıl giderimi sorduğumda beni yönlendirdiği yer tam ters istikamet olduğundan koşarak 10 dk daha uzaklaşmış oldum. Artık tek çare taksi kalmıştı, ben de mecburen taksi ile gittim kalan yolu.
</p>
<br />
<p class="text-justify">
    Maceralı bir 1 saat sonunda salona ulaştım ve yerime geçtim. Fuar'a daha önce gidenle bilir, amatör lig tribünü ayarında tribün ve oturakları vardır açık hava tiyatrosunun.
    <br />
    Bu sebeple uzun oyunlar için çok tercih edilecek bir yer değil açıkçası, ama açık hava olmasının da ayrı hava kattığını söyleyeyim. Ses düzeni iyi ise orta şeker bir atmosferde oyunu izleyebilirsiniz.
</p>
<br />
<p class="text-center"><img class="img-fluid" title="Ölü'n Bizi Ayırana Dek" src="~/img/olunBiziAyiranaDekSahne.jpg" /></p>
<br />
<p class="text-justify bold">
    Oyundan kısaca bahsedecek olursak;
</p>
<p class="text-justify">
    Oyunculuklar iyi seviyede, senaryo güzel ama derin değil, olay örgüsü güzel. Ama genele vurduğunuzda eğlencelik, daha fazlasını vadetmeyen bir oyun.
    Kötü bir yorum gibi görünüyor ama değil aslında, çünkü oyunun size sunduğu şey bu, fazlasını vadetmiyor ki sunsun.
</p>
<br />
<p class="text-justify">
    <span class="bold">Bukupon.com:</span> Yeterli bilgilendirme, hızlı hizmet ve uygun fiyat için teşekkürler.
</p>
<br />
<p class="text-justify">
    Gidilsin mi gidilmesin mi? <span class="bold"> Gidilsin.</span>
</p>
<br />
<p class="text-justify bold">
    Oyunun Özeti;
</p>
<div class="block-quote">
    <i class="icon-quote"></i>
    <blockquote>
        Cansu ve Serdar; evlilik hayatı canlarına tak etmiş ve boşanmaya karar vermiş bir çifttir. Boşanmadan bir gece önce, kendilerine düzenlenen bir 'kutlama' partisi ardından, sabah uyandıklarında ise birbirlerini sızmış olarak aynı yatakta bulurlar.
        <br />
        <br />
        Bir gece öncesine dair çok az şey hatırlayan Cansu ve Serdar’ı bekleyen asıl sürpriz salondaki kanepede uzanmakta olan cesettir.
        <br />
        <br />
        Ne yapacağını bilemeyen çiftimiz bir yandan 'Hangimiz katil?' sorusuna yanıt ararken bir yandan da ilişkilerini, evliliklerini, geçmişlerini, kendilerini bulundukları noktaya taşıyan olayları yeniden değerlendirecek ve karşılarına çıkacak bambaşka sürprizlerle mücadele etmeye çalışacaktır.
    </blockquote>
</div>
<p class="text-center">
    <img class="img-fluid" title="Hakan Yılmaz" src="~/img/hakanYilmaz.jpg" />
    <img class="img-fluid" title="Ebru Cündübeyoğlu" src="~/img/ebruCundubeyoglu.jpg" />
</p>
